<section class="nossos-servicos">

    <div class="titulo">
    <h2>NOSSOS SERVIÇOS</h2>
</div>


<div class="container">
    <div class="servico">
        <i class="fa-solid fa-tooth"></i>
        <h3>Endodontia <br> (Tratamento de Canal)</h3>
        <p>A atuação do endodontista é recomendada quando uma lesão ou cárie significativa danifica a polpa do dente. Com a raiz infectada ou inflamada, o indivíduo busca tratamento com o especialista.</p>
    </div>
    <div class="servico">
        <i class="fa-solid fa-screwdriver-wrench"></i>
        <h3>Implantes e Cirurgias</h3>
        <p>Implantes dentários e cirurgias reparam dentes danificados ou substituem os que estão ausentes para melhorar a saúde bucal e a estética.</p>
    </div>
    <div class="servico">
        <i class="fa-solid fa-teeth"></i>
        <h3>Próteses</h3>
        <p>As próteses substituem dentes ausentes ou corrigem defeitos dentários, oferecendo uma função mastigatória adequada e um sorriso estético.</p>
    </div>
    <div class="servico">
        <i class="fa-solid fa-align-center"></i>
        <h3>Ortodontia</h3>
        <p>Ortodontia corrige a posição dos dentes e dos ossos maxilares, melhorando a mordida e o alinhamento do sorriso.</p>
    </div>
    <div class="servico">
        <i class="fa-solid fa-face-laugh"></i>
        <h3>Lentes de Contato Dental</h3>
        <p>As lentes de contato dental são facetas ultrafinas de porcelana que cobrem a superfície frontal dos dentes para corrigir imperfeições estéticas.</p>
    </div>
    <div class="servico">
        <i class="fa-solid fa-grin-beam"></i>
        <h3>Invisalign</h3>
        <p>O Invisalign é um alinhador transparente que corrige a posição dos dentes sem a necessidade de aparelhos ortodônticos tradicionais.</p>
    </div>
    <div class="servico">
        <i class="fa-solid fa-face-smile-beam"></i>
        <h3>Harmonização Facial</h3>
        <p>A harmonização facial envolve tratamentos estéticos que melhoram o equilíbrio e a proporção do rosto, muitas vezes combinando odontologia e estética facial.</p>
    </div>
    <div class="servico">
        <i class="fa-solid fa-sun"></i>
        <h3>Clareamento Dental</h3>
        <p>O clareamento dental remove manchas e descolorações nos dentes, proporcionando um sorriso mais claro e brilhante.</p>
    </div>
</div>




</section>
