<footer class="footer">
    <div class="social-media">
        <a href="https://www.instagram.com/takano.odontologia/" target="_blank">
            <i class="fa-brands fa-instagram"></i>
           
        </a>
        <a href="https://www.facebook.com/takanoodonto" target="_blank">
            <i class="fa-brands fa-facebook"></i>
        </a>
    </div>
    <ul>
        <li>Por KAP Softwares</li>
    </ul>
    <ul>
        <li>Todos os direitos reservados &copy; 2024</li>      
    </ul>
</footer>