<section class="fale-conosco">
    <div class="titulo">
        <h2>FALE CONOSCO</h2>
    </div>

    <div class="container">
        <div class="coluna esq">
            <h3>Nossos Endereços</h3>
            <p>Av. Carlos Oberhuber, 551 - Jd. Floresta - São Paulo<br><br>
                Tel: (11) 5929-1252 / (11) 5973-8988 <br><br>
                contato&#64;takanoodontologia.com.br</p>
        </div>
        <hr class="vertical-hr">
        <div class="coluna dir">
            <h3>Horários</h3>
            <p>Segunda – Sexta  08:00 – 19:30 <br>

                Sábado    08:00 – 16:00 <br><br>
                <a href="https://wa.me/5511938013371" class="whatsapp-button" target="_blank">
                    <i class="fab fa-whatsapp"></i>
                    Jd. Floresta
                </a>
            </p>
        </div>
    </div>




</section>
