[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-cors-headers = "*"
django-phonenumber-field = {extras = ["phonenumbers"], version = "*"}
gunicorn = "*"
python-decouple = "*"
psycopg = "*"
psycopg2-binary = "*"
requests = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
