<header class="header">
    <div>
      <img class="logo" src="/assets/logo.png" alt="logo">
    </div>
    <nav class="nav">
      <ul class="ul_nav">
        <li class="menu_item">
          <a class="nav__link" (click)="scrollToSection('quem-somos')">Quem somos</a>
        </li>
        <li class="menu_item">
          <a class="nav__link" (click)="scrollToSection('agende-consulta')">Agende sua consulta</a>
        </li>
        <li class="menu_item">
          <a class="nav__link" (click)="scrollToSection('nossos-servicos')">Nossos serviços</a>
        </li>
        <li class="menu_item">
          <a class="nav__link" (click)="scrollToSection('dentistas')">Dentistas</a>
        </li>
        <li class="menu_item">
          <a class="nav__link" (click)="scrollToSection('fale-conosco')">Fale conosco</a>
        </li>
      </ul>   
    </nav>
  </header>