<main>
    <section class="consulta">
             
            <div class="container">
                
                <h2>Venha fazer uma avaliação do seu <br>
                     caso para cuidarmos da sua saúde <br> 
                     bucal</h2>
            </div>
    
            <div class="form_consulta">
                <h3>Agende sua avaliação</h3>
                <form>
                    <div class="txt">
                        <label for="nome">Nome:</label> 
                        <input type="text" id="nome" required>
                    </div >
    
                    <div class ="txt">
                        <label for="email">Email:</label>
                        <input type="email" id="email" required>
                    </div>
                    <div>
                        <label for="telefone">Telefone:</label>
                        <input type="tel" id="telefone" required>
                    </div>
                   
                        <label for="agendar">É sua primeira consulta?</label>
                        <select id="agendar" required>
                            <option value="" disabled selected>Selecione...</option>
                            <option value="sim">Sim, é minha primeira consulta</option>
                            <option value="nao">Não, já fiz consulta outra vez</option>
                        </select>
                        <label for="agendar">Tipo de consulta</label>
                        <select id="agendar" required>
                            <option value="" disabled selected>Selecione...</option>
                            <option value="geral">Avaliação geral</option>
                            <option value="emergencial">Emergencial</option>
                            <option value="outros">Outros</option>
                        </select>
                        <label for="agendar">Selecione o horário de sua preferencia</label>
                        <select id="agendar" required>
                            <option value="" disabled selected>Selecione...</option>
                            <option value="manha">Manhã</option>
                            <option value="tarde">Tarde</option>
                            <option value="noite">Noite</option>
                        </select>
                    
                    <button type="submit">Enviar</button> 
                </form>
            </div>
       
    </section>
    <section class="pre_tratamentos">
        <div  class="container2">
            <h3> <span class="light-text"> TRATAMENTO </span><br><span class="bold-text">ODONTOLOGICO</span>
                
            </h3>
            <h3> <span class="light-text"> ESTETICA  </span><br><span class="bold-text">DENTAL</span> </h3>
            <h3> <span class="light-text"> CUIDADOS</span> <br><span class="bold-text">EMERGENCIAIS</span> </h3>
        </div>  
    </section> 
</main>

