<section class="quem_somos">
    <div class="logo">
        <img  class="logo"src="/assets/logo.png" alt="logo">
    </div>
    
    <div class="titulo">
        <h2>QUEM SOMOS</h2>
    </div>
    
    
    <div class="table">
        <table>
            <th> <u>27</u> <br> Anos de experiência</th>
            <th> <u>21.000</u> <br> Clientes sorrindo</th>
            <th> <u>14</u> <br> Membros da equipe</th>
            
            </table>
    </div>

    <div class="container">
        <div class="coluna esq">
            <p>Iniciamos nossa jornada Odontológica há mais de 25 anos.<br><br>
            Logo a clínica cresceu e se multiplicou, hoje contamos com diversos profissionais especializados e dedicados ao seu sorriso.<br><br>
            As clínicas Takano Odontologia Integrada oferecem uma estrutura com ambiente sofisticado e aconchegante, pensada nos pequenos detalhes para proporcionar conforto e segurança aos nossos pacientes.</p>
        </div>
        <hr class="vertical-hr">
        <div class="coluna dir">
            <p>Contamos ainda com equipamentos de última geração e constante investimento em novidades, cursos e especializações.<br><br>
            Oferecemos tratamentos e procedimentos do dia a dia, como também implantes, próteses, clareamento, aparelhos e alinhadores dentais Invisalign.<br><br>
            A sua saúde bucal e da sua família terão uma experiência repleta de carinho, compromisso e acima de tudo, dedicação e paixão em todos os processos. <br><br>
            Seja bem-vindo(a)! <br><br><br>
            </p>
        </div>
    </div>
   
</section>
