.quem_somos {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    
    
}

.logo{
    width: 150px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10vh;
    margin-left: 390px;
    box-sizing: border-box;
    display: flexbox;
}

.titulo{
    color: #3f3f3f;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 250px;
    margin-left: 75vh;
    box-sizing: border-box;
    display: flexbox;
   
}


.table{
    margin-top: 90px;
    
    width: 600px;
    font-size: 20px;
    display: flex;
}


