<section class="fale-conosco">
    <div class="titulo">
        <h2>FALE CONOSCO</h2>
    </div>

    <div class="container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14608.568467274165!2d-46.7105692!3d-23.742311!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce4ee1082b5fd1%3A0xe4f295c428323439!2sTakano%20Odontologia%20Integrada!5e0!3m2!1spt-BR!2sbr!4v1729468964585!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        <div class="coluna esq">
            <h3>Nossos Endereços</h3>
            <p>Av. Carlos Oberhuber, 551 - Jd. Floresta - São Paulo<br><br>
                Tel: (11) 5929-1252 / (11) 5973-8988 <br><br>
                contato&#64;takanoodontologia.com.br</p>
        </div>
        <hr class="vertical-hr">
        <div class="coluna dir">
            <h3>Horários</h3>
            <p>Segunda – Sexta  08:00 – 19:30 <br>

                Sábado    08:00 – 16:00 <br><br>
                <a href="https://wa.me/5511938013371" class="whatsapp-button" target="_blank">
                    <i class="fab fa-whatsapp"></i>
                    Jd. Floresta
                </a>
            </p>
        </div>
        
    </div>




</section>
