<section class="dentistas">
    <div class="titulo">
        <h2>NOSSOS DENTISTAS</h2>
    </div>
    <div class="container">
        <div class="servico">
            <i class="fa-solid fa-tooth"></i>
            <img class="img" src="/assets/dentistas/1.jpg" alt="doutor">
            <h3>Dr. César Yujiro Takano <br></h3>
            <p>Especialista em cirurgia e traumatologia Bucomaxilofacial</p>
        </div>
        <div class="servico">
            <i class="fa-solid fa-tooth"></i>
            <img class="img" src="/assets/dentistas/2.jpg" alt="doutor">
            <h3>Dra. Maria Paula Takano</h3>
            <p>Especialista em Ortodontia e Ortopedia funcional dos maxilares.</p>
        </div>
        <div class="servico">
            <i class="fa-solid fa-tooth"></i>
            <img class="img" src="/assets/dentistas/3.jpg" alt="doutor">
            <h3>Dra Tatiana de A. Bitencourt</h3>
            <p>Clinico Geral</p>
        </div>
        <div class="servico">
            <i class="fa-solid fa-tooth"></i>
            <img class="img" src="/assets/dentistas/4.jpg" alt="doutor">
            <h3>Dra. Gabriele Vieira Cruz</h3>
            <p>Clínica Geral</p>
        </div>
        <div class="servico">
            <i class="fa-solid fa-tooth"></i>
            <img class="img" src="/assets/dentistas/5.jpg" alt="doutor">
            <h3>Dra. Selma Rezende</h3>
            <p>Especialista em Endodontia</p>
        </div>
        <div class="servico">
            <i class="fa-solid fa-tooth"></i>
            <img class="img" src="/assets/dentistas/6.jpg" alt="doutor">
            <h3>Dra. Adriana Reimberg</h3>
            <p>Clínica Geral e Especialista em Ortodontia</p>
        </div>
        <div class="servico">
            <i class="fa-solid fa-tooth"></i>
            <img class="img" src="/assets/dentistas/7.jpg" alt="doutor">
            <h3>Dra. Nataly H. M. Takano </h3>
            <p>Clínica Geral</p>
        </div>
        <div class="servico">
            <i class="fa-solid fa-tooth"></i>
            <img class="img" src="/assets/dentistas/8.jpg" alt="doutor">
            <h3>Dr. Fernando Reimberg</h3>
            <p>Especialista em Implantodontia</p>
        </div>
        <div class="servico">
            <i class="fa-solid fa-tooth"></i>
            <img class="img" src="/assets/dentistas/9.jpg" alt="doutor">
            <h3>Dr. Guilherme H. S. Braz</h3>
            <p>Endodontia</p>
        </div>
    </div>

</section>

<hr class="separator">
