<header class="header">
    <div>
        <img  class="logo"src="/assets/logo.png" alt="logo">
    </div>
    <nav class="nav">
        <ul class="ul_nav">
            <li class="menu_item">
                <a class="nav__link" href="#">Quem somos</a>
            </li>
            <li class="menu_item">
                <a class="nav__link" href="#">Tratamentos</a>
            </li>
            <li class="menu_item">
                <a class="nav__link" href="#">Equipe</a>
            </li>
            <li class="menu_item">
                <a class="nav__link" href="#">Agende sua avaliação</a>
            </li>
        </ul>   
    </nav>
</header>
